:root {
  --primary: #202C39;
  --secondary: #48525D;
  --tertiary: #798189;
  --pink: #F9E0D9;
  --cream: #F9F4D6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--tertiary);
}
body {
  color: var(--cream);
  font-family: Helvetica, Arial, sans-serif;
}

.projects {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.projects:hover, .projects:focus, .projects:active {
  opacity: 50%;
  color: white;
}